footer {
  width: 100%;
  font-style: italic;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      padding: 10px;
      a:visited,
      a:link {
        text-decoration: none;
      }
    }
  }
}

.fa-facebook-f,
  .fa-linkedin-in,
  .fa-youtube,
  .fa-twitter {
  @media (max-width: 450px) {
    font-size: 15px;
  }
  @media (min-width: 450px) and (max-width: 900px) {
    font-size: 20px;
  }
  @media (min-width: 900px) {
    font-size: 25px;;
  }
}
