//----------------- red theme

.theme-red {
  header {
    background-color: $red-main1;
    color: $red-main3;
    form button {
      color: $red-main3;
      background-color: $red-main2;
    }
    form button:hover {
      color: $red-main3-hover;
      cursor: grab;
    }

    .fa-search {
      color: $red-main2;
    }

    .fa-search:hover {
      color: $red-main3;
      cursor: pointer;
    }
  }

  .main__window {
    .add {
      background: transparent;
      i {
        color: $red-main2;
        background: transparent;
        &:hover {
          color: $red-main2-hover;
          cursor: pointer;
        }
      }
    }

    .new__note__container,
    .pending__note__container {
      display: flex;
      flex-flow: column wrap;
      .new,
      .pending {
        input,
        button,
        span {
          background-color: $red-main2;
          color: $red-main3;
        }
        button:hover {
          background-color: $red-main2-hover;
          cursor: pointer;
        }
        input#descriptionNote {
          color: $red-main3;
          background-color: $red-main1;
        }
      }
    }
    .pending__note__container:hover {
      animation: turnNote 1s ease-in-out infinite alternate;
    }
  }

  nav {
    background-color: $red-main1;
    ul {
      li {
        a:visited,
        a:link {
          color: $red-main2-hover;
        }
      }
    }
  }

  nav ul li:hover:after {
    color: $red-main3;
    cursor: pointer;
  }

  .fa-home,
  .fa-plus-square,
  .fa-check,
  .fa-sticky-note,
  .fa-cog {
    color: $red-main2;
  }

  .fa-home:hover,
  .fa-plus-square:hover,
  .fa-check:hover,
  .fa-sticky-note:hover,
  .fa-cog:hover {
    color: $red-main3;
    cursor: pointer;
  }

  section {
    background-color: $red-main1;
  }

  .btn__weather {
    background-color: $red-main2;
    color: $red-main3;
    &:hover {
      background-color: $red-main2-hover;
      cursor: pointer;
    }
  }

  div.react-calendar {
    background-color: $red-main3;
  }

  .react-calendar__tile--active {
    background-color: $red-main1;
  }

  .theme-switch {
    background-color: $red-main2;
    padding: 10px;
    border: none;
    color: $red-main3;
    font-weight: 900;
    &:hover {
      background-color: $red-main2-hover;
      cursor: pointer;
    }
  }

  footer {
    background-color: $red-main1;
    color: $red-main3;
  }

  .fa-facebook-f,
  .fa-linkedin-in,
  .fa-youtube,
  .fa-twitter {
    color: $red-main2;
  }

  .fa-github:hover, #linked:hover {
    cursor: pointer;
    color: $red-main2;
  }
}

//----------------- blue theme

.theme-blue {
  header {
    background-color: $blue-main1;
    color: $blue-main3;
    form button {
      color: $blue-main2;
      background-color: $blue-main3;
    }
    form button:hover {
      color: $blue-main2-hover;
      cursor: grab;
    }

    .fa-search {
      color: $blue-main2;
    }

    .fa-search:hover {
      color: $blue-main3;
      cursor: pointer;
    }
  }

  .main__window {
    .add {
      background: transparent;
      i {
        color: $blue-main2;
        background: transparent;
        &:hover {
          color: $blue-main2-hover;
          cursor: pointer;
        }
      }
    }

    .new__note__container,
    .pending__note__container {
      display: flex;
      flex-flow: column wrap;
      .new,
      .pending {
        input,
        button,
        span {
          background-color: $blue-main2;
          color: #000;
        }
        button:hover {
          background-color: $blue-main3;
          cursor: pointer;
        }
        input#descriptionNote {
          background-color: $blue-main1;
        }
      }
    }
    .pending__note__container:hover {
      animation: turnNote 1s ease-in-out infinite alternate;
    }
  }

  nav {
    background-color: $blue-main1;
    ul {
      li {
        a:visited,
        a:link {
          color: $blue-main3;
        }
      }
    }
  }

  .fa-home,
  .fa-plus-square,
  .fa-check,
  .fa-sticky-note,
  .fa-cog {
    color: $blue-main2;
  }

  .fa-home:hover,
  .fa-plus-square:hover,
  .fa-check:hover,
  .fa-sticky-note:hover,
  .fa-cog:hover {
    color: $blue-main3;
    cursor: pointer;
  }

  section {
    background-color: $blue-main1;
  }

  .btn__weather {
    background-color: $blue-main2;
    color: $blue-main3;
  }
  .btn__weather:hover {
    background-color: $blue-main2-hover;
    color: $blue-main3-hover;
    cursor: pointer;
  }

  div.react-calendar {
    background-color: $blue-main3;
  }

  .react-calendar__tile--active {
    background-color: $blue-main1;
  }

  .theme-switch {
    background-color: $blue-main2;
    padding: 10px;
    border: none;
    color: $blue-main3;
    font-weight: 900;
  }

  .theme-switch:hover {
    background-color: $blue-main2-hover;
    cursor: pointer;
  }

  footer {
    background-color: $blue-main1;
    color: $blue-main3;
  }

  .fa-facebook-f,
  .fa-linkedin-in,
  .fa-youtube,
  .fa-twitter {
    color: $blue-main2;
  }

  .fa-github:hover, #linked:hover {
    cursor: pointer;
    color: $blue-main2;
  }
}

@keyframes turnNote {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-twitter:hover {
  color: #1da1f2;
}