//----------------- red theme

.theme-red {
  header {
    background-color: #fd4a1f;
    color: #fff;
    form button {
      color: #fae8be;
      background-color: #311d12;
    }
    form button:hover {
      color: #ead7ad;
      cursor: grab;
    }

    .fa-search {
      color: #311d12;
    }

    .fa-search:hover {
      color: #fae8be;
    }
  }

  .main__window {
    .add {
      background: transparent;
      i {
        color: #311d12;
        background: transparent;
        &:hover {
          color: #200c01;
          cursor: pointer;
        }
      }
    }

    .new__note__container,
    .pending__note__container {
      display: flex;
      flex-flow: column wrap;
      .new,
      .pending {
        input,
        button,
        span {
          background-color: #311d12;
          color: #fae8be;
        }
        button:hover {
          background-color: #200c01;
          cursor: pointer;
        }
        input#descriptionNote {
          color: #fae8be;
          background-color: #fd4a1f;
        }
      }
    }
    .pending__note__container:hover {
      animation: turnNote 1s ease-in-out infinite alternate;
    }
  }

  nav {
    background-color: #fd4a1f;
    ul {
      li {
        a:visited,
        a:link {
          color: #200c01;
        }
      }
    }
  }

  nav ul li:hover:after {
    color: #fae8be;
    cursor: pointer;
  }

  .fa-home,
  .fa-plus-square,
  .fa-check,
  .fa-sticky-note,
  .fa-cog {
    color: #311d12;
  }

  .fa-home:hover,
  .fa-plus-square:hover,
  .fa-check:hover,
  .fa-sticky-note:hover,
  .fa-cog:hover {
    color: #fae8be;
    cursor: pointer;
  }

  section {
    background-color: #fd4a1f;
  }

  .btn__weather {
    background-color: #311d12;
    color: #fae8be;
    &:hover {
      background-color: #200c01;
      cursor: pointer;
    }
  }

  div.react-calendar {
    background-color: #fae8be;
  }

  .react-calendar__tile--active {
    background-color: #fd4a1f;
  }

  .theme-switch {
    background-color: #311d12;
    padding: 10px;
    border: none;
    color: #fae8be;
    font-weight: 900;
    &:hover {
      background-color: #200c01;
      cursor: pointer;
    }
  }

  footer {
    background-color: #fd4a1f;
    color: #fae8be;
  }

  .fa-facebook-f,
  .fa-linkedin-in,
  .fa-youtube,
  .fa-twitter {
    color: #311d12;
  }
}

//----------------- blue theme

.theme-blue {
  header {
    background-color: #001755;
    color: #dfd8ce;
    form button {
      color: #fb9d00;
      background-color: #dfd8ce;
    }
    form button:hover {
      color: #ea8c00;
      cursor: grab;
    }

    .fa-search {
      color: #fb9d00;
    }

    .fa-search:hover {
      color: #dfd8ce;
    }
  }

  .main__window {
    .add {
      background: transparent;
      i {
        color: #fb9d00;
        background: transparent;
        &:hover {
          color: #ea8c00;
          cursor: pointer;
        }
      }
    }

    .new__note__container,
    .pending__note__container {
      display: flex;
      flex-flow: column wrap;
      .new,
      .pending {
        input,
        button,
        span {
          background-color: #fb9d00;
          color: #311d12;
        }
        button:hover {
          background-color: #dfd8ce;
          cursor: pointer;
        }
        input#descriptionNote {
          background-color: #344472;
        }
      }
    }
    .pending__note__container:hover {
      animation: turnNote 1s ease-in-out infinite alternate;
    }
  }

  nav {
    background-color: #001755;
    ul {
      li {
        a:visited,
        a:link {
          color: #dfd8ce;
        }
      }
    }
  }

  .fa-home,
  .fa-plus-square,
  .fa-check,
  .fa-sticky-note,
  .fa-cog {
    color: #fb9d00;
  }

  .fa-home:hover,
  .fa-plus-square:hover,
  .fa-check:hover,
  .fa-sticky-note:hover,
  .fa-cog:hover {
    color: #dfd8ce;
    cursor: pointer;
  }

  section {
    background-color: #001755;
  }

  .btn__weather {
    background-color: #fb9d00;
    color: #dfd8ce;
  }
  .btn__weather:hover {
    background-color: #ea8c00;
    cursor: pointer;
  }

  div.react-calendar {
    background-color: #dfd8ce;
  }

  .react-calendar__tile--active {
    background-color: #001755;
  }

  .theme-switch {
    background-color: #fb9d00;
    padding: 10px;
    border: none;
    color: #dfd8ce;
    font-weight: 900;
  }

  .theme-switch:hover {
    background-color: #ea8c00;
    cursor: pointer;
  }

  footer {
    background-color: #001755;
    color: #dfd8ce;
  }

  .fa-facebook-f,
  .fa-linkedin-in,
  .fa-youtube,
  .fa-twitter {
    color: #fb9d00;
  }
}

@keyframes turnNote {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-twitter:hover {
  color: #1da1f2;
}